alabaster==0.7.13
Babel==2.11.0
blivet==3.4.0
Brlapi==0.6.7
certifi==2023.7.22
chardet==3.0.4
charset-normalizer==2.0.12
colored==1.4.4
configobj==5.0.6
cupshelpers==1.0
dasbus==1.2
dbus-python==1.2.4
decorator==4.2.1
docutils==0.18.1
gpg==1.13.1
html5lib==0.999999999
idna==3.4
imagesize==1.4.1
importlib-metadata==4.8.3
initial-setup==0.3.81.7
isc==2.0
Jinja2==3.0.3
langtable==0.0.51
libcomps==0.1.16
lxml==4.2.3
MarkupSafe==2.0.1
nftables==0.1
ntplib==0.3.3
ordered-set==2.0.2
packaging==21.3
perf==0.1
pexpect==4.3.1
pid==2.1.1
ply==3.9
productmd==1.11
psutil==5.4.3
ptyprocess==0.5.2
pwquality==1.4.4
pycairo==1.16.3
pycups==1.9.72
pycurl==7.43.0.2
pydbus==0.6.0
pyenchant==2.0.0
Pygments==2.14.0
pygobject==3.28.3
pykickstart==3.16.14
pyparsing==3.1.1
pyparted==3.11.7
PySocks==1.6.8
python-dateutil==2.6.1
python-linux-procfs==0.6.3
python-meh==0.47.2
pytz==2023.3.post1
pyudev==0.21.0
pyxdg==0.25
PyYAML==6.0
requests==2.27.1
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.14.3
scapy==2.5.0
selinux==2.9
sepolicy==1.1
setools==4.3.0
setroubleshoot==1.1
simpleline==1.1.1
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
snowballstemmer==2.2.0
sos==4.1
sphinx==5.3.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SSSDConfig==2.5.2
suricata-update==1.2.2
syspurpose==1.28.21
systemd-python==234
termcolor==1.1.0
typing-extensions==4.1.1
urllib3==1.26.18
webencodings==0.5.1
zipp==3.6.0
